body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  background-color: bisque;
  font-family: Arial, sans-serif;
  min-width: none;
}

.outter {
    border: 1px solid rgb(255, 255, 255);
    margin: 0 auto;
    height: 70vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #eef8f8;
    box-shadow: inset 1px 1px 5px #0e0b0b, inset -1px -1px 5px #ccc, 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.screen {
    border: 1px solid #fffbfb;
    margin: 20px;
    padding: 20px;
    flex: 0 0 auto;
    height: 80px;
    background-color: #08748755;
    box-shadow: inset 1px 1px 5px #ffffff, inset -1px -1px 5px #ccc, 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.screen .display{
    color: white;
    height: 100%;
    padding: 20px;
    text-align: center;
}
.keypads {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    min-width:none;
}

.numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgb(255, 254, 254);
    margin: 20px;
    flex: 1;
    overflow: auto;
    background-color: #000001;
    box-shadow: inset 1px 1px 5px #ffffff, inset -1px -1px 5px #ccc, 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    margin: 10px;
    width: 15%;
    overflow: auto;
    background-color: #020000;
    box-shadow: inset 1px 1px 5px #ffffff, inset -1px -1px 5px #ccc, 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* .onof,.add,.sub,.mul,.divi,.clear{
    margin: 10px;
    width: 10%;
    height: 20px;
    text-align: center;
    background-color: #000000;
    box-shadow: inset 1px 1px 5px #ffffff, inset -1px -1px 5px #ccc, 1px 1px 5px rgba(0, 0, 0, 0.5);
} */

.op-btn,.cl-btn{
  border: none;
  background-color: #000000;
  color: white;
  box-shadow: inset 1px 1px 5px #ffffff, inset -1px -1px 5px #ccc, 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 0 2px;
  border-radius: 10px;
}

.frow,
.srow,
.trow,
.frrow {
    display: flex;
    justify-content: space-around;
    height: inherit;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.Zero,
.dot,
.e {
    border: 1px solid black;
    border-radius: 10px;
    width: 10%;
    text-align: center;
    background-color: #000000;
    box-shadow: inset 1px 1px 5px #ffffff, inset -1px -1px 5px #ccc, 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.btn, .eq-btn {
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 100%;
    color: white;
    padding: 10px;
    background-color: #0a0004;
    box-shadow: inset 1px 1px 5px #ffffff, inset -1px -1px 5px #ccc, 1px 1px 5px rgba(0, 0, 0, 0.5);
}

  .toggle-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  
  .toggle-label:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }
  
  .toggle-checkbox:checked + .toggle-label {
    background-color: #139bef;
  }
  
  .toggle-checkbox:checked + .toggle-label:before {
    transform: translateX(26px);
  }
  